body {
    font-family: Arial, sans-serif;
    background-color: orange;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    color: #000000;
    font-family: 'Kablammo', cursive;
    font-size: 60;
  }
  
  h2 {
    color:#000000;
    font-family: 'Bungee', cursive;
  }
  
  p {
    color: #000000;
    font-family: 'Ingrid Darling', cursive;
    font-size: 30;
    font-weight: bolder;
  }
  
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  li {
    margin-bottom: 10px;
    color: #000000;
    font-family: 'Ingrid Darling', cursive;
    font-size: 25;
    font-weight: bolder;    
    margin-left: 10px;
  }
  
  img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .quote {
    font-style: italic;
    color:cornsilk;
    font-family: 'Yellowtail', cursive;
    font-size: 20;
  }
  